{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% block headline %}My headline will go here{% endblock headline %}

{% block byline %}By me{% endblock byline %}
{% block pubdate %}
  <time datetime="2024-03-07" pubdate>March 7, 2024</time>
{% endblock pubdate %}

{% block content %}
{% for obj in harvard_park_homicides %}
    {{ obj.first_name }} {{ obj.last_name }}<br>
{% endfor %}
{% endblock content %}
